<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Guess the Number Game</title>
</head>
<body>
<div align="center">
    <h1>Welcome to the NumberGame</h1>
    <h2>Game Over</h2>
    <h3 th:text="${__${T(academy.learnprogramming.util.AttributeNames).RESULT_MESSAGE}__}">Result message default value here</h3>
    <a th:href="@{__${T(academy.learnprogramming.util.GameMappings).RESTART}__}" th:text="${'Play again'}">play again - default text</a>
    <a th:href="@{__${T(academy.learnprogramming.util.GameMappings).HOME}__}" th:text="Home">home link - default text</a>

    <footer>
        <p>Created by Learn Programming Academy</p>
    </footer>
</div>
</body>
</html>