<!DOCTYPE html>
<html lang="en">
<head id="headId">
    <meta charset="UTF-8">
    <title>Game over default title</title>
</head>
<body>
<div align="center">
    <h1 id="gameTitleId">Welcome to the NumberGame</h1>
    <h2 id="gameOverHeader">Game Over</h2>
    <h3 id="h3Id">Result message default value here</h3>
    <a id="firstAId">play again - default text</a>
    <a id="secondAId">home link - default text</a>

    <footer id="footerId">
        <p>Sample footer</p>
    </footer>
</div>
</body>
</html>